.page-footer {
  text-align: center;
}

.page-footer__logo-text {
  display: block;
  padding-top: 36px;
  padding-bottom: 28px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.social__link {
  width: 30px;
  height: 30px;
  margin: 0 12px;
  font-size: 0;

  &--vk {
    background: url("../img/icon-vk.svg") no-repeat 50%;
    background-size: 22px auto;
  }

  &--inst {
    background: url("../img/icon-insta.svg") no-repeat 50%;
    background-size: 16px auto;
  }

  &--fb {
    background: url("../img/icon-fb.svg") no-repeat 50%;
    background-size: 12px auto;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.copyright__text {
  @include font-size-height (16px, 16px);
}

.copyright__link {
  width: 40px;
  height: 40px;
  font-size: 0;
}

.copyright__link path {
  fill: black;
}

@media (max-width: $tablet-width) {
  .page-footer__wrap {
    padding: 0 15px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }

  .page-footer__logo-text {
    padding: 0;
    border: none;
  }

  .page-footer__social {
    border: none;
  }

  .social__link {
    width: 30px;
    height: 30px;
    margin: 0 11px;

    &--vk {
      background: url("../img/icon-vk.svg") no-repeat 50%;
      background-size: 30px auto;
      margin-left: 35px;
    }

    &--inst {
      background: url("../img/icon-insta.svg") no-repeat 50%;
      background-size: 22px auto;
    }

    &--fb {
      background: url("../img/icon-fb.svg") no-repeat 50%;
      background-size: 14px auto;
    }
  }

  .page-footer__copyright {
    padding: 0;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrap {
    padding: 45px 0;
  }

  .page-footer__copyright {
    padding-top: 0;
  }
}
