.page-header {
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 1300px) {
  .page-header--page-index::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background-color: #63a73a;
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    z-index: -1;
  }
}

.page-header--catalog {
  margin-bottom: 15px;
}

.page-header--form {
  margin-bottom: 15px;
}

.page-header__top {
  position: relative;
}

.page-header__wrap {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-img img {
  height: 100%;
}

.page-header__logo-img:hover {
  opacity: 0.8;
}

.page-header__toggle {
  display: none;
  background: transparent url("../img/icon-mobile-menu.svg") no-repeat;
  border: none;
  width: 25px;
  height: 25px;
}

.page-header__bottom {
  @include font-oswald;
  padding-top: 26px;
  text-align: center;
  color: $white;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.page-header__title {
  @include font-size-height (36px, 36px);
  margin-top: 0;
  font-weight: normal;
}

.page-header__subtitle {
  @include font-size-height (14px, 14px);
  margin-bottom: 28px;
  text-transform: uppercase;
}

.page-header__set-programm {
  @include button;
}

@media (max-width: $tablet-width) {
  .page-header__wrap {
    padding: 0 20px;
  }

  .page-header__set-programm {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header--catalog {
    margin-bottom: 52px;
  }

  .page-header--form {
    margin-bottom: 52px;
  }

  .page-header__top {
    display: flex;
    padding-top: 23px;
    margin-bottom: 25px;
  }

  .page-header__logo-img {
    margin-right: 18px;
  }

  .page-header__logo-img img {
    width: 175px;
  }

  .page-header__logo-text img {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__wrap {
    justify-content: flex-start;
  }

  .page-header__bottom {
    background: url("../img/index-can-tablet@1x.jpg") no-repeat 50% 230px;
    color: $nearly-black;
    text-align: left;
    height: 810px;
    padding-left: 88px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 700px auto;
    }
  }

  .page-header__title {
    @include font-size-height (60px, 60px);
    width: 420px;
  }

  .page-header__subtitle {
    @include font-size-height (20px, 20px);
    margin-bottom: 45px;
  }

  .page-header__wrap-img {
    display: none;
  }

  .page-header__set-programm {
    @include font-size-height (20px, 20px);
    width: 245px;
    padding: 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 80px;
  }

  .page-header--catalog {
    margin-bottom: 70px;
  }

  .page-header--form {
    margin-bottom: 70px;
  }

  .page-header__top {
    padding-top: 53px;
  }

  .page-header__logo-img img {
    width: 202px;
  }

  .page-header__subtitle {
    margin-bottom: 55px;
  }

  .page-header__bottom {
    height: 475px;
    padding-top: 80px;
    padding-left: 80px;
    background: url("../img/index-can-desktop@1x.png") no-repeat 67% 0%;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background: url("../img/index-can-desktop@2x.png") no-repeat 67% 0%;
      background-size: 550px auto;
    }
  }
}
