.page-footer{
  background-color: #F2F2F2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 25px;
}

.page-footer__title {
  text-align: center;

  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $breakpoint_table) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__title {
    text-align: left;

    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
  }

  .page-footer__social {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
  }

  .page-footer__copyright {
    justify-content: flex-end;
  }
}

@media (min-width: $breakpoint_desktop) {}
