.programm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programm__title {
  text-align: center;
}

.programm__description {
  text-align: center;
}

.programm__busket {
  text-align: center;
}
