$nearly-black: #111111;
$black-brown: #222222;
$dark-bluish-black: #444444;
$white: #ffffff;
$light-gray: #f2f2f2;
$medium-gray: #eaeaea;
$gray: #cdcdcd;
$light-herbal: #68b738;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
