@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/scaffolding.scss";
@import "blocks/header.scss";
@import "blocks/navigation.scss";
@import "blocks/main.scss";
@import "blocks/categories.scss";
@import "blocks/advantages.scss";
@import "blocks/result.scss";
@import "blocks/slider.scss";
@import "blocks/contacts.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/extra.scss";
@import "blocks/form.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/footer.scss";
